{% extends "layout.html" %}
{% block content %}
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/input.css') }}"> -->
<!-- used bootstrap v5 alpha -->
<body
    background="{{ url_for('static', filename = 'submit.jpeg') }}"
    style="background-repeat: no-repeat; background-size:cover"
    class="py-5"
>
    <div class="text-center">
        <img src="{{ url_for('static', filename = 'logo.png') }}" style="height: 200px; width: auto;" alt="logo" />
    </div>
    <div class="display-4 font-weight-bold text-center">
        Upload an image
    </div>
    <div class="text-center p-5">
        <form action="" method=post enctype=multipart/form-data>
            <input type="file" name="file" class="pl-5">
            <div class="p-5">
                <button type=submit class="btn btn-primary">
                    <h1>
                        Submit
                    </h1>
                </button>
            </div>
        </form>
    </div>
</body>
{% endblock content %}

<!-- <!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
</form> -->