{% extends "layout.html" %}
{% block content %}
<body background="{{ url_for('static', filename = 'ballet.jpg') }}" style="background-repeat: no-repeat; background-size:cover">
    <div style="position: absolute; padding-left:100px; width: 696px; height: 100vh; left: 1150px; background: rgba(0, 0, 0, 0.73); align-content:center">
        <div style="width: 550px;height: 211px;left: 1185px;top: 300px;color: #FFFFFF; text-align:center">
            <br><br><br><br>
            <p style="font-family: Open Sans;font-size: 32px;font-style: normal;font-weight: 700;line-height: 44px;letter-spacing: 0em;text-align: center;">CaptionIt! provides beautiful captions for any image you provide. Excited? Check below!</p>
        </div>
        <br><br><br><br><br>
        <div style = "width: 500px;height: 267px;left: 2000px;top: 550px;background:rgba(196,196,196, 0.4);">
            <div style = "width: 450px;
            height: 169px;
            left: 980px;
            top: 488px;
            color: white; ">
                <p style="font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 30px; padding-top:80px; padding-left: 80px;text-align: center;">Ballet dancers in a studio practice jumping with wonderful form.</p>
            </div>
        </div>
        <br><br><br>
        <div style="width: 490px;
        height: 110px;
        left: 882px;
        top: 741px; color: white">
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            text-align: center;">Want to captionize your images like such? Let’s get started!</p>
        </div>
        <br><br>
        <div style= "padding-left: 100px;">
            <form action="http://localhost:5000/image" method="POST">
                <input type="submit" value="Get Started!" style = "width: 322px;
        height: 72px;
        left: 980px;
        top: 873px;

        background: #D300D3;
        border-radius: 20px;font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        /* or 125% */

        text-align: center;

        color: #FFFFFF;" >
            </form>
        </div>
            <!-- <button type="submit">GetStarted!</button> -->
        </div>
    </div>
</body>
{% endblock content %}


